{%extends "user/base.html" %}
{%block content%}
{%load crispy_forms_tags%}

{%if messages%}
    {%for msg in messages%}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{msg.message}}</strong>
        </div>
    {%endfor%}
{%endif%}


     <div class="home-center">
            <div class="home-desc-center">
                <div class="container mt-5">
                   
                    <div class="row justify-content-center mt-4">
                        <div class="col-lg-4 col-md-6">
                            <div class="login_page bg-white shadow rounded p-4">
                                <div class="text-center">
                                    <h4 class="mb-4">Login To E-TARKARIPASAL</h4>  
                                </div>
                                <form action=#  class="login-form" method="POST" novalidate >
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-12 mb-3 mt-4">
                                            <div class="form-group position-relative">                                               
                                                <label class="mr-2 text-bold">Username <span class="text-danger">* </span></label>
                                                {{form.username}}
                                            </div>
                                            {% if form.username.errors %}
                                                {% for error in form.username.errors %}
                                                    <div class="alert alert-danger">
                                                        <strong>{{error|escape}}</strong>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        
                                        <div class="col-lg-12 mb-3">
                                            <div class="form-group position-relative">                                                
                                                <label class="mr-3">Password <span class="text-danger">*</span></label>
                                            {{form.password}}
                                            </div>
                                            {% if form.password.errors %}
                                                {% for error in form.password.errors %}
                                                    <div class="alert alert-danger">
                                                        <strong>{{error|escape}}</strong>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    
                                        <div class="col-lg-12 mt-2 mb-3">
                                            <button class="btn btn-primary w-100" type="submit">Login</button>
                                        </div>
                                        <div class="mx-auto text-center">
                                            <p class="mb-0 mt-3"><small class="text-dark mr-2">Need an account  ?</small> <a href="{% url 'signup' %}" class="text-dark font-weight-bold">Sign Up</a></p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div> <!--end col-->
                    </div><!--end row-->
                   <div class="container mt-5">
                </div>
                    
              </div> <!--end container-->
            </div>
         </div>

        


{%endblock%}
