*{
    margin:0;
    padding:0;
    
}

.containall, .containall .container{
    background-color: #ffffff !important;
}

#map{
    margin-top: 1cm;
    width:100vw;
    height:100vh;
    max-width: 100%;
    max-height: 100%;
}

.syw{
    font-family: 'Bebas Neue', cursive;
    font-size:35px;
    z-index: 3;
    position: absolute;
    color:white;
    margin:1cm;
}

.syw::first-letter{
    font-size: 50px;
    color:orange;
}

.mapholder{
    margin-bottom:1cm;
    max-width: 100vw;
    max-height: 100vh;
}

.container{
    padding:1cm 0;
}

.counter
{
    background-color: #eaecf0 !important;
    text-align: center;
    
}
.employees,.customer,.design,.order
{
    margin-top: 70px;
    margin-bottom: 70px;
}

.bg-dark {
    background-color: #343a40!important;
}

.counter-count
{
    font-family: 'Bebas Neue', cursive; font-size:25px;
    font-size: 25px;
    background-color: #3c4244;
    border-radius: 50%;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 92px;
    width: 92px;
    height: 92px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
}

.employee-p,.customer-p,.order-p,.design-p
{
    font-size: 24px;
    color: #000000;
    line-height: 34px;
}


@media only screen and (max-width:600px){
    .syw{
        font-size:20px;
        position: absolute;
        color:white;
        margin:0.3cm;
    }
    
    .syw::first-letter{
        font-size: 25px;
        color:orange;
    }
       
}